global !p
from javascript_snippets import semi
endglobal

snippet ls "console.log with JSON.stringify"
console.log(JSON.stringify(${1:${VISUAL:what}}))
endsnippet

snippet log "console.log"
console.log(${VISUAL}$0)
endsnippet

snippet info "console.info"
console.info(${VISUAL}$0)
endsnippet

snippet warn "console.warn"
console.warn(${VISUAL}$0)
endsnippet

snippet debug "console.debug"
console.debug(${VISUAL}$0)
endsnippet

snippet error "console.error"
console.error(${VISUAL}$0)
endsnippet

snippet rn "return null"
return null
endsnippet

snippet afn "anonymous function"
const ${1:function_name} = ${2:async} ($3) => {
	${VISUAL}$0
}`!p snip.rv = semi(snip)`
endsnippet

snippet me "module.exports"
module.exports = {
	${VISUAL}$0
}
endsnippet

snippet elnl "eslint disable next line"
// eslint-disable-next-line $1
endsnippet

snippet telnl "typescript-eslint disable next line"
// eslint-disable-next-line @typescript-eslint/$1
endsnippet

snippet nea "no-explicit-any eslint rule"
// eslint-disable-next-line no-explicit-any
endsnippet

snippet tsnea "no-explicit-any typescript-eslint rule"
// eslint-disable-next-line @typescript-eslint/no-explicit-any
endsnippet

snippet tnfp "no floating promises eslint rule"
// eslint-disable-next-line @typescript-eslint/no-floating-promises
endsnippet

snippet pe "process.env"
process.env.
endsnippet

snippet qld "GraphQLDate"
GraphQLDate
endsnippet

snippet qls "GraphQLString"
GraphQLString
endsnippet

snippet qlfl "GraphQLFloat"
GraphQLFloat
endsnippet

snippet qlint "GraphQLInt"
GraphQLInt
endsnippet

snippet qlid "GraphQLID"
GraphQLID
endsnippet

snippet qll "GraphQLList"
GraphQLList(${VISUAL}$0)
endsnippet

snippet qln "GraphQLNonNull"
new GraphQLNonNull(${VISUAL}$0)
endsnippet
