#!/usr/bin/env sh
# Aliases that can be shared between bash and zsh

if [ -e ~/.private_aliases ]; then
    source ~/.private_aliases
fi

# Use coreutils for sorting by file extension if available through homebrew
if ! alias lx > /dev/null 2>&1; then
    if [[ -x $(which brew) && -d $(brew --prefix coreutils) ]]; then
        alias lx="$(brew --prefix coreutils)/bin/gls -lahX --color=auto"
    fi
fi

# Aliases
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..="cd .."
alias ag="ag --recurse --color-line-number=\"\" --color-path=\"1;34\" --color-match=\"1;31\" --path-to-ignore ~/.agignore"
alias aliases="$EDITOR ~/.aliases"
alias c="pbcopy"
alias ccat="pygmentize -g -f terminal16m -O linenos=1,style=monokai"
alias cgrep="grep -I -n --color=always --exclude=tags"
alias rg="cgrep -rn"
alias dbox="cd ~/Dropbox"
alias fucking="sudo"
alias gitconfig="$EDITOR ~/.gitconfig"
alias l="ls -laGh"
alias lz="ls -laGhS"
alias ll="clear; l"
alias tree="tree -C"
alias nvimrc="$EDITOR ~/.config/nvim/init.vim"
alias path="echo $PATH | tr ':' '\n' | sort -u"
alias pdfs="cd ~/Dropbox/PDFs"
alias projects="cd ~/Dropbox/projects"
alias sbp="source ~/.bash_profile"
alias todo="grep --color=always --exclude-dir=tmp -HIni ' todo:'"
alias up="cd .."
alias updatedb="sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist"
alias upl="cd .. && l"
alias v="pbpaste"
alias vbundle="cd ~/.vim/bundle"
alias vh=vimhelp
alias vimrc="$EDITOR ~/.vimrc"

bpp() {
    for i in "$@"; do
        case $i in
            -h|--help)
                printf "%s\n" "Usage: bpp"
                printf "%s\n" "       bpp [theme_name]"
                printf "%s\n" "       bpp [-l | --list] [-h, --help]"
                return
            ;;

            -l|--list)
                local random_themes=${BASH_POWERPROMPT_RANDOM_THEMES:-""}

                if [ -n "$BASH_POWERPROMPT_DIRECTORY" ]; then
                    for theme in $BASH_POWERPROMPT_DIRECTORY/themes/*.theme; do
                        local bname=${theme##*/}
                        local is_random_theme
                        [[ "$random_themes" = *"${bname%.*}"* ]] && is_random_theme="*" || is_random_theme=""

                        printf "%s%s\n" ${bname%.*} "$is_random_theme"
                    done
                else
                    printf "\033[31;1mError:\033[0m \033[38;1m%s\033[0m%s\n" "BASH_POWERPROMPT_DIRECTORY" " not set to install directory, cannot list themes"
                fi

                return
            ;;

            *)
            ;;
        esac
    done

    if [ -n "$1" ]; then
        if [ "$1" = "random" ] && [ -n "$BASH_POWERPROMPT_RANDOM_THEMES" ]; then
            printf "Random theme selected from: ${BASH_POWERPROMPT_RANDOM_THEMES[@]}\n"
        fi

        export BASH_POWERPROMPT_THEME="$1"
    else
        printf "Current theme is \033[38;1m%s\033[0m\n" "$BASH_POWERPROMPT_THEME"
    fi
}

if type python > /dev/null; then
    if type pip > /dev/null; then
        if pip list | grep -iw "markdown" > /dev/null; then
            render() {
                for filename in "$@"; do
                    local stripped="${filename%.*}"
                    python -m markdown "$filename" > "${stripped}.html"
                done
            }
        fi
    fi

    # Outputs the filesize in megabytes
    filesize() {
        if [ -n "$1" ]; then
            python -c "import os; print '%.2f MB' % (os.stat('$1').st_size / 10**6.0)"
        else
            printf "%s\n" "Usage: filesize <file>"
        fi
    }
fi

vimhelp() {
    vim -c "help $1 | only"
}

man() {
    /usr/bin/man $@ | col -b | vim -R -c "set ft=man nomod nolist" -
}

tophist() {
    local top="$1"

    if [ -z "$top" ]; then
        top=3
    fi

    history | awk '{print $2}' | awk 'BEGIN {FS="|"}{print $1}' | sort | uniq -c | sort -nr | head -n $top
}

mkdir2() {
    mkdir $1 && cd $_
}
