[include]
    path = ~/.private_gitconfig # Requires at least v1.7.10.2
[core]
    autocrlf = false
    pager = diff-so-fancy | less --tabs=4 -RFX
    ui = true
    excludesfile = .gitignore_global
[color.diff-highlight]
    oldNormal    = red bold
    oldHighlight = red bold 52
    newNormal    = green bold
    newHighlight = green bold 22
[color.diff]
    meta       = yellow
    frag       = magenta bold
    commit     = yellow bold
    old        = red bold
    new        = green bold
    whitespace = red reverse
[push]
    default = simple
[alias]
    alias = config --get-regexp "^alias\\."
    ap = add --patch
    au = add -u
    ba = branch -a
    br = branch
    browse = __git_browse $1 $2
    bs = branch --list
    cf = !git show --pretty="format:" --name-status
    cm = commit -m
    co = checkout
    count = rev-list --count HEAD
    dc = diff --cached
    dl = !git diff --color=always $@ | less -r
    filelog = log --name-status --oneline
    fp = fetch --prune
    getfile = !git archive --remote=~$1 HEAD:~$2 ~$3 | tar -x
    graph = !git log --graph --color | less -r
    issue = "!__git_issue_2945() { git branch -a | grep --color=always "issue-$1"; }; __git_issue_2945"
    last = log -1 HEAD
    pr = '!f() { git fetch ${2:-upstream}refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f'
    rv = remote -v
    sa = stash apply
    sb = status -sb
    sd = stash drop
    sl = stash list
    sp = stash save --patch
    ss = stash show
    tracked = ls-files
    unstage = reset HEAD --
    update = clone https://www.github.com/git/git
    upstream = !git rev-parse --abbrev-ref $1@{upstream}
    wd = diff --word-diff
    wdc = diff --word-diff --cached
[web]
    browser = open
