copy_vimrc.sh
update_vimrc.sh
*.DS_Store
*.swp
.mypy_cache/
.vim/.netrwhist
.vim/plugged/
fishd.*
.config/fish/work_aliases.fish
.config/fish/config.fish.backup
.config/fish/fish_variables
private.vim
private_plugins.lua
.vim/lua/plugins/local/
