copy_vimrc.sh
update_vimrc.sh
*.DS_Store
*.swp
.mypy_cache/
.vim/.netrwhist
.vim/plugged/
private.vim
private_plugins.lua
.vim/lua/config/plugins/local/
hammerspoon/*.local.json
fishd.*
fish/config.fish.backup
fish/fish_variables
fish/functions/__*.fish
fish/work_*.fish
