let mapleader=" "

set showmode
set scrolloff=5
set incsearch
set relativenumber

" Plugins
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set exchange

let g:argtextobj_pairs="[:],(:),<:>"

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" Don't use Ex mode, use Q for formatting.
map Q gq

map jk <ESC>

vnoremap < <gv
vnoremap > >gv

map mc <A-n>
map mx <A-x>
map mp <A-p>

nmap gcc <Action>(CommentByLineComment)
nmap <leader>w <Action>(SaveAll)
