extends typescript, typescript_react

snippet im "import"
import $1 from '$1'
endsnippet

snippet imt "import type"
import type $1 from '$2'
endsnippet

snippet exa "export as" b
export * as $1 from '$2'
endsnippet

snippet exf "export from" b
export { $1 } from '$2$1 from '$1'
endsnippet

snippet exa "export as" b
export * as $1'
endsnippet

snippet eaf
export async function $1(): $2 {
	$3
}
endsnippet

snippet ss "sinon.stub()"
sinon.stub($1)
endsnippet

snippet sr "sinon.restore()"
sinon.restore()
endsnippet

snippet expcct "expect callCount typescript"
expect($1.callCount).toEqual(${2:1})
endsnippet

snippet expat "expect args typescript"
expect($1.args[0]$2).toEqual([$3])
endsnippet

snippet expcat "expect callCount and args"
expect($1.callCount).toEqual(${2:1})
expect($1.args[0]$3).toEqual([$4])
endsnippet

snippet et "export type"
export type $1 = {
	$2
}
endsnippet

snippet ud "undefined" w
undefined
endsnippet
